.app-container {
  display: flex;
  height: 100vh; /* 100% of viewport height */
  position: relative; /* Establish stacking context for absolute positioning */
}

.app-header {
  width: 30%;
  min-width: 500px;
  max-width: 100%;
  background-color: rgb(253, 249, 241);
}

.app-map {
  position: relative;
  width: 70%;
}
#createReport {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  padding: 8px 70px;
  border-radius: 10px;
  z-index: 600;
  width: 60%;
  min-width: 300px;
}
