p {
  font-family: Arial, sans-serif;
}
table {
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}
thead th {
  color: black;
}

.table thead th {
  border-top: 1px solid #202020; /* Adjust the color and thickness as needed */
}

th.location:hover,
th.name:hover,
th.time:hover,
th.status:hover {
  cursor: pointer;
}

.case-info {
  display: flex;
  justify-content: space-between;
}

p {
  font-weight: bold;
}

.left-info {
  margin-right: auto;
  margin-left: 7px;
}

.right-info {
  margin-left: auto;
  margin-right: 7px;
}

.searchBar {
  margin-left: 8px;
}

.search {
  width: 50%;
  max-width: 70%;
}
