<p class="searchBar">
  SEARCH: <input class="search" type="text" [(ngModel)]="query" />
</p>

<div class="case-info">
  <p class="left-info">Total case: {{ crimes | search : query | summary }}</p>
  <p class="right-info">
    Unsolved case: {{ crimes | search : query | unsolves }}
  </p>
</div>

<table class="table">
  <thead>
    <tr>
      <th class="location" (click)="sortLocation()">Location</th>
      <th class="name" (click)="sortName()">Crime</th>
      <th class="time" (click)="sortTime()">Time Reported</th>
      <th class="status" (click)="sortStatus()">Status</th>
      <th class="extra"></th>
      <th class="extra"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      app-crime
      *ngFor="let crime of crimes | search : query"
      [crime]="crime"
      (onDeleteCrime)="deleteCrime(crime)"
    ></tr>
  </tbody>
</table>
